*.db
.venv/
venv/
__pycache__/
web.config
.vscode/settings.json
.idea/
cgi.log
.env
.azure/
._env
._env_*
.pytest_cache/
.coverage
**/*.hidden*
output/*
!output/.gitkeep
.vscode
notes.md
*.hidden*
.python-version
